@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Text&family=Fira+Sans:ital@1&family=Lexend&family=Montserrat:wght@100&display=swap");

body {
  margin: 0;
  font-family: "Lexend", sans-serif;


  background-image: url(./images/header/house.png),
    url(./images/header/blue.png), url(./images/header/green.png);
  background-repeat: no-repeat;
  background-position: right top, left top, left top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
